/* Default
-----------------------------------------------------*/
  * {
      outline: none !important;
      -webkit-box-sizing : border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    ::-moz-selection {
       background-color: #FDDF59;
       color: #FF5858;
    }
    ::selection {
       background-color: #FDDF59;
       color: #FF5858;
    }
    html,
    body {
      width: 100%;
      height: 100%;
    }
    section {
      display: block;
      width: 100%;
    }
    body {
      background-color: #ffffff;
      overflow-x: hidden;
    }
    svg, 
    img {
      display: block;
      vertical-align: baseline;
    }
    a {
      cursor: pointer;
    }
    a:link,
    a:visited,
    a {
      text-decoration: none;
    }
    ul {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      padding-left: 20px;
    }
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 3px;
    }
    .table {
      display: table;
    }
    .cell {
      display: table-cell;
    }
    .clearfix:before,
    .clearfix:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
      visibility: hidden;
    }
    html, body {
      font-family: "Poppins", sans-serif; 
    }
/*===================================================*/

/* #header
-----------------------------------------------------*/
  #header {
    position: relative;
    z-index: 10;
  }
  #footer {
    position: relative;
    z-index: 10;
  }
  .blocks.last-intro-info {
    background-color: #FDDF59;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .blocks.first-intro-info {
    background-color: #FDDF59;
    width: 100%;
    height: 100%;
  }
  .blocks.first-intro-info .blocks-content,
  .blocks.last-intro-info .blocks-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .blocks.first-intro-info .intro-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .blocks.first-intro-info .stroke-wrapper {
    margin-top: 25px;
  }
  .blocks.first-intro-info .first-detail-intro {
    float: left;
    width: 68%;
  }
  .blocks.first-intro-info .second-detail-intro {
    float: right;
    width: 26%;
    position: relative;
    z-index: 10;
  }
  .blocks.first-intro-info .polygon.type-1 {
    background-image: url("../images/h-polygon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 72px auto;
    left: 0;
    padding: 35px;
    position: absolute;
    top: 13%;
    z-index: 10;
    transition-duration: 1s;
  }
  .blocks.first-intro-info .about-me {
    text-transform: uppercase;
    margin-top: 90px;
    text-align: right;
  }
  .about-me a {
    display: block;
    text-shadow: 4px 4px 0 rgb(255, 88, 88);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s all;
  }
  .about-me a:hover,
  .about-work a:hover,
  .resume-download a:hover,
  .phone-number a:hover,
  .gmail-address a:hover,
  .blocks.first-intro-info .full-name a:hover
  {
    color: #FF5858;
    text-shadow: 4px 4px 0 rgb(255, 255, 255);
  }
  .blocks.first-intro-info .about-work {
    margin: 70px 0px 75px 0px;
    text-align: right;
    text-transform: uppercase;
  }
  .about-work a {
    display: block;
    text-shadow: 4px 4px 0 rgb(255, 88, 88);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s ease-in all;
  }
  .blocks.first-intro-info .resume-download {
    text-align: right;
    margin-top: 50px;
    text-transform: uppercase;
  }
  .resume-download a {
    display: block;
    text-shadow: 4px 4px 0 rgb(255, 88, 88);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s ease-in all;
  }
  .blocks.first-intro-info .full-name {
    width: 43%;
  }
  .blocks.first-intro-info .full-name a {
    display: block;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 50px;
    text-shadow: 4px 4px 0 rgb(255, 88, 88);
    transition: 0.3s ease-in all;
  }
  .blocks.first-intro-info .red-stroke {
    background-color: #ff5858;
    width: 55px;
    height: 8px;
    box-shadow: 4px 4px 0 #fff;
    padding: 3px;
    margin-top: 30px;
  }
  .blocks.first-intro-info .border-wapper {
    clear: both;
  }
  .blocks.first-intro-info .inner-border-wrapper {
    position: relative;
    z-index: 10;
  }
  .blocks.first-intro-info .first-border {
    border: 9px solid #ff5858;
    color: #ffffff;
    font-size: 83px;
    font-weight: 700;
    padding: 65px 40px;
    text-shadow: 9px 9px 0 rgb(255, 88, 88);
    width: 775px;
  }
  .blocks.first-intro-info .first-border p {
    display: block;
    transform: scale(1);
    transition: transform 4s ease 0s;
  }
  .blocks.first-intro-info .first-border .inner-first-border {    
    transform: scale(1);
    transition: transform 4s ease 0s;
    color: #FF5858;
    font-size: 125px;
    font-weight: bold;
    padding: 30px 0 64px;
    text-shadow: 9px 9px 0 rgb(255,255,255);
    z-index: 10;
  }
  .blocks.first-intro-info .first-square {
    background-color: #ff5858;
    padding: 4px;
    position: absolute;
    right: -22px;
    top: 7%;
    transform: rotate(180deg);
    width: 3%;
  }
  .blocks.first-intro-info .second-square {
    background-color: #ff5858;
    height: 98%;
    padding: 4px;
    position: absolute;
    right: -22px;
    top: 32px;
    transform: rotate(0deg);
  }
  .blocks.first-intro-info .third-square {
    background-color: #ff5858;
    bottom: -411px;
    height: 172%;
    left: 406px;
    padding: 4px;
    position: absolute;
    transform: rotate(90deg);
  }
  .blocks.first-intro-info .fourth-square {
    background-color: #ff5858;
    bottom: -14px;
    left: 15px;
    padding: 4px;
    position: absolute;
    transform: rotate(90deg);
    width: 3%;
  }
  .blocks.first-intro-info .social-link-wrapper {
    padding: 5px;
    position: absolute;
    right: -10%;
    top: 14%;
    width: 20px;
    z-index: 10;
  }
  .blocks.first-intro-info .icon-html {
    background-image: url("../images/html.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding: 20px;
    position: absolute;
    right: 52%;
    top: 16%;
    z-index: 10;
    transition-duration: 1.5s;
  }
  .blocks.first-intro-info .icon-code {
    background-image: url("../images/code.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    padding: 20px;
    position: absolute;
    right: 40%;
    top: 4%;
    z-index: 10;
    transition-duration: 1.5s;
  }
  .blocks.first-intro-info .detail-contact {
    display: block;
    padding: 70px 0;
  }
  .blocks.first-intro-info .phone-number {
    font-size: 20px;
    margin: 40px auto;
  }
  .blocks.first-intro-info .gmail-address {
    font-size: 20px;
  }
  .blocks.last-intro-info .phone-number a {
    text-align: left!important;
    font-size: 30px;
  }
  .phone-number a {
    display: block;
    font-weight: 600;
    text-shadow: 3px 3px 0 rgb(255, 88, 88);
    color: #fff;
    margin: 20px 0px;
    text-align: right;
    padding-right: 5px;
    transition: 0.3s ease-in all;
  }
  .gmail-address a {
    display: block;
    font-weight: 600;
    text-shadow: 3px 3px 0 rgb(255, 88, 88);
    color: #fff;
    margin: 20px 0px;
    transition: 0.3s ease-in all;
    text-align: right;
  }
  .blocks.first-intro-info .border-wrapper {
    left: 0%;
    position: absolute;
    top: 33%;
    z-index: 10;
  }
/*===================================================*/
  #first-upper-section {
    width: 100%;
    background-color: #fff;
    height: 500px;
    position: relative;
    z-index: 9;
  }
  .blocks.introduction-info .blocks-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
  .blocks.introduction-info .aboutme-detail {
    display: table;
    margin: 0 auto;
    padding: 144px 0;
  }
  .blocks.introduction-info .header-text {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 8px 8px 0 rgb(253, 223, 89);
    color: #FF5858;
    margin: 35px 0;
    text-align: center;
  }
  .header-text {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 8px 8px 0 rgb(253, 223, 89);
    color: #FF5858;
    margin: 20px 0px;
    text-align: center;
  }
  .blocks.introduction-info .int-text-wrap {
    font-size: 20px;
    font-weight: 600;
    color: #FF5858;
    margin: 20px 0px;
    text-align: center;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
  }
  .blocks.introduction-info .focus-text-wrap {
    font-size: 26px;
    font-weight: 600;
    color: #FF5858;
    margin: 50px 0;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(253, 223, 89);
  }
  .blocks.introduction-info .mini-red-stroke {
    padding: 4px;
    width: 20px;
    background-color: #FF5858;
  }
  .blocks.introduction-info .stroke-wrapper {
    display: table;
    margin: 0 auto;
    padding-left: 58px;
    table-layout: fixed;
    width: 13%;
  } 
  .blocks.introduction-info .red-stroke {
    background-color: #ff5858;
    width: 55px;
    height: 8px;
    box-shadow: 4px 4px 0 #FDDF59;
  }
  .blocks.introduction-info .polygon.type-2 {
    background-image: url(../images/s-polygon1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 49px auto;
    left: 6%;
    padding: 28px;
    position: absolute;
    top: 31%;
    z-index: 10;
    opacity: 0.5;
    transition: transform 6s ease 0s;
    transform: scale(1);
  }
  .blocks.introduction-info .polygon.type-3 {
    background-image: url("../images/s-polygon2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding: 20px;
    position: absolute;
    right: 12%;
    top: 6%;
    z-index: 10;
    opacity: 0.5;
    transform: scale(1);
    transition: transform 4s ease 0s;
  }
  .blocks.introduction-info .polygon.type-4 {
    background-image: url(../images/s-polygon3.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 41px auto;
    left: 22%;
    padding: 20px;
    position: absolute;
    top: 60%;
    z-index: 10;
    opacity: 0.4;
    transition-duration: 10s;
  }
  .blocks.introduction-info .polygon.type-5 {
    background-image: url(../images/s-polygon4.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    padding: 30px;
    position: absolute;
    right: 20%;
    top: 54%;
    z-index: 10;
    opacity: 0.5;
    transition-duration: 2s;
  }
  .blocks.all-work-info {
    margin-top: 100px;
  }
  .blocks.all-work-info .blocks-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
  }
 .blocks.all-work-info .polygon.type-6 {
    background-image: url("../images/s-polygon5.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 72px auto;
    left: 10%;
    padding: 46px;
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0.4;
    transform: scale(1);
    transition: transform 4s ease 0s;
  }
  .blocks.all-work-info .polygon.type-7 {
    background-image: url("../images/s-polygon3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding: 20px;
    position: unset;
    margin-top: 35px;
    opacity: 0.3;
    transition-duration: 2s;
  }
  .blocks.all-work-info .polygon.type-8 {
    background-image: url("../images/s-polygon6.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60px auto;
    margin-top: 35px;
    padding: 36px;
    position: absolute;
    right: 20%;
    top: -37%;
    opacity: 0.5;
  }
  .blocks.all-work-info .polygon.type-9 {
    background-image: url("../images/s-polygon3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    bottom: 0;
    margin-top: 35px;
    padding: 36px;
    position: absolute;
    right: 34%;
    opacity: 0.5;
  }
  .blocks.all-work-info .header-text {
    padding-top: 46px;
  }
  .blocks.all-work-info .development.second
   {
    padding-top: 60px;
    position: relative;
    z-index: 10;
    width: 100%;
    overflow: hidden;
  }
  .blocks.all-work-info .development.second .mini-wrapper {
    position: absolute;
    z-index: 11;
    right: 10px;
    top: 0;
  }
  .blocks.all-work-info .odd .mini-red-block {
    background-color: #ff5858;
    box-shadow: 4px 4px 0 #fddf59;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    padding: 8px 5px;
    text-align: center;
    width: 16%;
  }
  .blocks.all-work-info .even .mini-red-block {
    background-color: #ff5858;
    box-shadow: 4px 4px 0 #fddf59;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    padding: 8px 5px;
    text-align: center;
    width: 16%;
    float: right;
  }

  .blocks.all-work-info .content {
    min-height: 350px;
    position: relative;
    z-index: 13;
  }
  .blocks.all-work-info .clearfix::before {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .blocks.all-work-info .even .development-logo {
    right: 0;
    top: 16%;
  }
  .blocks.all-work-info .development-logo {
    background-color: #fef5cc;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 44%;
    height: 100%;
    -webkit-box-shadow: 8px 8px 0px rgba(255,204,204,1);
    -moz-box-shadow: 8px 8px 0px rgba(255,204,204,1);
    box-shadow: 8px 8px 0px rgba(255,204,204,1);
  }
  .blocks.all-work-info .table {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
  }
  .blocks.all-work-info .cell {
    display: table-cell;
    vertical-align: middle;
  }
  .blocks.all-work-info .image {
    text-align: center;
    padding: 30px;
  }
  .blocks.all-work-info .image img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  .blocks.all-work-info .dedaa .image img {
    max-width: 56%;
  }
  .blocks.all-work-info .development.second .development-logo {
    background-color: #fef5cc;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 8px 8px 0px rgba(255,204,204,1);
    -moz-box-shadow: 8px 8px 0px rgba(255,204,204,1);
    box-shadow: 8px 8px 0px rgba(255,204,204,1);
    margin-bottom: 10px;
  }
  .blocks.all-work-info .odd .development-about {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    z-index: 11;
    width: 60%;
  }
  .blocks.all-work-info .even .development-about {
    margin-right: auto;
    margin-left: 0;
    position: relative;
    z-index: 11;
    width: 60%;
  }
  .blocks.all-work-info .development.second .development-about {
    right: 35%;
    position: absolute;
    top: 27%;
    z-index: 10;
  }
  .sub-header {
    color: #ff5858;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    text-align: left;
    text-shadow: 4px 4px 0 rgb(253, 223, 89);
  }
  .blocks.all-work-info .even .development-about .sub-header {
    text-align: right;
  }
  .body-text {
    color: #ff5858;
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    margin: 20px 0;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
  }
  .blocks.all-work-info .even .development-about .body-text {
    text-align: right;
  }
  .development.second .body-text {
    text-align: right;
    margin: 25px 0;
  }
  .development.second .website-link {
    padding: 1px 0;
    width: 100%;
  }
   .website-link .link-1 {
    background-image: url("../images/right-arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 31px auto;
    color: #ff5858;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
    width: 30%;
  }
  .website-link .link-2 {
    background-image: url("../images/left-arrow.svg");
    background-position: 70% 50%;
    background-repeat: no-repeat;
    background-size: 31px auto;
    color: #ff5858;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
    width: 100%;
  }
  .website-link .link-3 {
    background-image: url("../images/right-arrow.svg");
    background-position: 26% 50%;
    background-repeat: no-repeat;
    background-size: 31px auto;
    color: #ff5858;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
    width: 100%;
  }
  .website-link .link-4 {
    background-image: url("../images/left-arrow.svg");
    background-position: 75% 50%;
    background-repeat: no-repeat;
    background-size: 31px auto;
    color: #ff5858;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    text-shadow: 2px 2px 0 rgb(253, 223, 89);
    width: 100%;
    margin: 20px 0px;
  }
  .blocks.all-work-info .development.first .wave-money-about .body-text {
    padding: 12px 0px;
  }
  .blocks.all-work-info .middle-space {
    position: relative;
    z-index: 10;
    margin: 50px auto;
    padding: 30px auto;
  }
  .blocks.all-work-info .middle-space .red-up-stroke {
    background-color: #ffcccc;
    height: 17px;
    margin: 15px auto;
    width: 5px;
  }
  .blocks.all-work-info .polygon.type-10 {
    background-image: url("../images/s-polygon1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px auto;
    bottom: 0;
    left: 28%;
    margin-top: 35px;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
  }
  .blocks.all-work-info .development.second .second-float {
    float: right;
    width: 40%;
    padding-right: 20px;
  }
  .blocks.all-work-info .polygon.type-11 {
    background-image: url("../images/s-polygon7.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    left: 21%;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
    top: -60%;
  }
  .blocks.all-work-info .polygon.type-12 {
    background-image: url("../images/s-polygon8.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px auto;
    top: 6%;
    margin-top: 35px;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
    right: 20%;
  }
  .blocks.all-work-info .polygon.type-13 {
    background-image: url("../images/s-polygon2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    bottom: 1%;
    margin-top: 35px;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
    right: 5%;
  }
  .blocks.all-work-info .polygon.type-14 {
    background-image: url(../images/s-polygon9.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 123px auto;
    margin-top: 35px;
    opacity: 0.4;
    padding: 64px 77px;
    position: absolute;
    right: 42%;
    top: 5%;
    transition-duration: 0.5s;
  }
  .blocks.all-work-info .polygon.type-15 {
    background-image: url("../images/s-polygon2.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px auto;
    bottom: 12%;
    left: 5%;
    margin-top: 35px;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
  }
  .blocks.all-work-info .polygon.type-16 {
    background-image: url("../images/s-polygon3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px auto;
    bottom: 56%;
    left: 17%;
    margin-top: 35px;
    opacity: 0.5;
    padding: 36px;
    position: absolute;
  }
  .resume-wrapper {
    float: right;
    margin-top: 176px;
    padding: 20px 0;
    width: 16%;
  }
  .copy-resume {
    color: #ffffff;
    display: block;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    text-shadow: 3px 3px 0 rgb(255, 88, 88);
    text-transform: uppercase;
    z-index: 10;
    transition: 0.5s ease 0s;
  }
  .copy-resume:hover .mini-yellow-block a {
    background-color: #ff5858;
    box-shadow: 8px 8px 0 #fddf59; 
  }
  .copy-resume .mini-yellow-block a {
    background-color: #fddf59;
    padding: 13px;
    text-align: center;
    width: 100%;
    box-shadow: 8px 8px 0 #FF5858; 
    color: #fff;
  }
  .copy-resume .mini-yellow-block a {
     display: block;
  }
  .blocks.last-intro-info .border-wrapper{
    left: 36%;
    position: absolute;
    top: -27%;
    z-index: 10;
  }
  .blocks.last-intro-info .inner-border-wrapper {
    position: relative;
    z-index: 10;
  }
  .blocks.last-intro-info .first-border {
    border: 4px solid #ff5858;
    color: #ff5858;
    display: table;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    padding: 24px 38px;
    text-shadow: 8px 8px 0 rgb(253, 223, 89);
    width: 417px;
  }
  .blocks.last-intro-info .first-border p {
    display: block;
    transform: scale(1);
    transition: transform 4s ease 0s;
  }
  .blocks.last-intro-info .first-border .inner-first-border p {
    display: block;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    padding: 36px 0px;
    text-shadow: 8px 8px 0 rgb(255,88,88);
    z-index: 10;
    transform: scale(1);
    transition: transform 4s ease 0s;
  }
  .blocks.last-intro-info .first-square {
    background-color: #ff5858;
    padding: 2px;
    position: absolute;
    right: -12px;
    top: 6%;
    transform: rotate(180deg);
    width: 3%;
  }
  .blocks.last-intro-info .second-square {
    background-color: #ff5858;
    height: 98%;
    padding: 2px;
    position: absolute;
    right: -15px;
    top: 15px;
    transform: rotate(0deg);
  }
  .blocks.last-intro-info .third-square {
    background-color: #ff5858;
    height: 166%;
    left: 224px;
    padding: 2px;
    position: absolute;
    top: 54px;
    transform: rotate(90deg);
  }
  .blocks.last-intro-info .fourth-square {
    background-color: #ff5858;
    bottom: -7px;
    left: 13px;
    padding: 2px;
    position: absolute;
    transform: rotate(90deg);
    width: 4%;
  }
  .blocks.last-intro-info .footer-float-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .blocks.last-intro-info .intro-float {
    float: left;
    width: 40%;
    color: #fff;
    display: block;
    font-weight: 600;
    text-shadow: 3px 3px 0 rgb(255, 88, 88);
    margin-top: 125px;
  }
  .blocks.last-intro-info .title {
    margin-bottom: 60px;    
    font-size: 40px;
  }
  .blocks.last-intro-info .intro-float .down-arrow {
    background-image: url("../images/down-arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: block;
    padding: 33px 0;
    width: 30%;
  }
  .blocks.last-intro-info .message-float .down-arrow {
    background-image: url("../images/down-arrow.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: block;
    padding: 33px 0;
    width: 80%;
  }
  .blocks.last-intro-info .phone-number, 
  .blocks.last-intro-info .gmail-address {
    margin-top: 20px;
    padding: 50px 0;
    font-size: 30px;
  }
  .blocks.last-intro-info .message-float {
    float: right;
    width: 40%;
    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 3px 3px 0 rgb(255, 88, 88);
    margin-top: 125px;
  }
  .blocks.last-intro-info .message-float {
    text-align: right;
  }
  .blocks.last-intro-info .icon-html {
    background-image: url("../images/html.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    left: 15%;
    padding: 20px;
    position: absolute;
    top: 8%;
    z-index: 10;  
    transition-duration: 1.5s;
  }
  .blocks.last-intro-info .icon-code {
    background-image: url("../images/code.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px auto;
    left: 32%;
    padding: 20px;
    position: absolute;
    top: 55%;
    z-index: 10;
    transition-duration: 1.5s;
  }
  .blocks.last-intro-info .footer-polygon {
    background-image: url("../images/f-polygon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70px auto;
    padding: 38px 41px;
    position: absolute;
    right: 35%;
    top: 51%;
    z-index: 10;
    transition-duration: 1s;
  }
/*  .blocks.last-intro-info .footer-polygon:hover {
    transform: scale(1.5);
  }*/
  .blocks.last-intro-info .social-link-wrapper {
    padding: 5px;
    position: absolute;
    right: 50%;
    top: 43%;
    width: 20px;
    z-index: 10;
  }
  .github-link {
    display: block;
    margin: 10px auto;
  }
  .github-link a {
    background-image: url("../images/github.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: block;
    padding: 20px;
    fill: #fff;
  }
  .github-link a:hover {
    fill: #FF5858;
  }
  .facebook-link {
    display: block;
    margin: 18px auto;
  }
  .facebook-link a {
    background-image: url("../images/facebook.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 21px auto;
    display: block;
    padding: 20px;
  }
  .twitter-link {
    display: block;
    margin: 18px auto;
  }
  .twitter-link a {
    background-image: url("../images/twitter.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: block;
    padding: 20px;  
  }
  .instagram-link {
    display: block;
    margin: 18px auto;
  }
  .instagram-link a {
    background-image: url("../images/instagram.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    display: block;
    padding: 20px;
  }
/*  .ht-hover-icon {
    transform: rotate(200deg);
  }
  .code-hover-icon {
    transform: rotate(-200deg);
  }*/

